.bigTexts {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 14rem;
}

.section2 {
  background-image: url(https://cdna.artstation.com/p/assets/images/images/019/009/292/large/vivek-pradhan-japanese-flower.jpg?1561610833);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  transition: 300ms ease-in-out all;
  filter: grayscale(100%);
}

.section2:hover,
.section2:focus,
.section2:active {
  filter: grayscale(0%);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation: 500ms fadeInUp;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  animation: 500ms fadeOutUp;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation: 500ms fadeInDown;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  animation: 500ms fadeOutDown;
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  animation: 4s flash;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation: 500ms fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: 500ms fadeIn;
}

#hamburger {
}

#firstSection {
}

.copyright {
  font-family: "Work Sans";
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation: 500ms fadeInLeft;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  animation: 500ms fadeOutLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  animation: 500ms fadeInRight;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  animation: 500ms fadeOutRight;
}

@media screen and (max-width: 760px) {
  .fadeInUp {
    animation: none;
  }

  .fadeInDown {
    animation: none;
  }

  .fadeOutDown {
    animation: none;
  }

  .fadeOutUp {
    animation: none;
  }
}

@media screen and (min-width: 760px) {
  .fadeInRight {
    animation: none;
  }

  .fadeInLeft {
    animation: none;
  }

  .fadeOutRight {
    animation: none;
  }

  .fadeOutLeft {
    animation: none;
  }
}
