.bigTexts {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 14rem;
}

.section2 {
  background-image: url(https://cdna.artstation.com/p/assets/images/images/019/009/292/large/vivek-pradhan-japanese-flower.jpg?1561610833);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  transition: 300ms ease-in-out all;
  filter: grayscale(100%);
}

.section2:hover,
.section2:focus,
.section2:active {
  filter: grayscale(0%);
}

#hamburger {
}

#firstSection {
}

.copyright {
  font-family: "Work Sans";
}

.soul {
  box-shadow: rgba(220, 20, 60, 0.699) 0px 48px 100px 0px;
}

.soul_inside {
  box-shadow: rgba(220, 20, 60, 0.699) 3px 3px 6px 0px inset,
    rgba(233, 59, 140, 0.5) -3px -3px 6px 1px inset;
}
