.bigTexts {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 14rem;
}

.section2 {
  background-image: url(https://cdna.artstation.com/p/assets/images/images/019/009/292/large/vivek-pradhan-japanese-flower.jpg?1561610833);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  transition: 300ms ease-in-out all;
  filter: grayscale(100%);
}

.section2:hover,
.section2:focus,
.section2:active {
  filter: grayscale(0%);
}

#hamburger {
}

#firstSection {
}

.copyright {
  font-family: "Work Sans";
}
